<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма для регистрации</title>
</head>
<body>
<form action="/" method="post">
    <a>Имя:</a><input type="text" name="name" placeholder="Имя"><br>
    <a>Фамилия:</a><input type="text" name="surname" placeholder="Фамилия"><br>
    <a>E-mail:</a><input type="email" name="email" placeholder="E-mail"><br>
    <a>Пароль:</a><input type="password" name="password" placeholder="Пароль"><br>
    <input type="submit" value="Зарегистрировать">
</form>
</body>
</html>
